/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

a.sidebar-link.active {
  color: pink;
  border-left-color: pink;
}

a.sidebar, p, li {
  font-family: 'Noto Sans KR', sans-serif;
}

img {
  display: block;
  margin: auto;
}